@charset "utf-8";

html{

    font-size: 62.5%; /*16px ×　62.5px =10px */
}

.body{

    color: #333333;
    /* ↓左から有効なフォントが適用されていく */
    font-family:'Open Sans', 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
}

.site-title{
    font-size: 2.4rem;
    font-weight: bold;
}

img{

max-width: 100%;
height: auto;  
}


.jibun{
    max-width: 50%;
    max-height: 50%;  
}

/* ------------------
    about
--------------------- */
.profile{
    padding: 80px;
}

.profile-jibun{

    width: 560px;
    margin: auto;
}

.text-center{

    text-align: center;
}

.profile__title{
    margin: 0 0 40px;
    font-size: 2.4rem;
    font-weight: bold;
}

.profile__eyecatch{
    margin: 0 0 24px;
}

.profile__name{
    margin: 0 0 40px;
    font-size: 2.4rem;
}


.profile__text{
    line-height: 2;
    text-align:justify;
    text-align:Inter-deograph;
}
/* .jibun{
    width: 300px;
    height: 400px;
    object-fit: cover;
} */

/*---------------------
    Hoby
 ---------------------*/
/* ボタンのレイアウト */
 .btn{
    display: block;
    margin: auto;
    padding: 21px 0;
    background-color: #1ab1ff;
    color: #fff;
    font-size: 1.8rem;
    width: 214px;
}

.Hoby__title{

    margin: 0 0 64px;
    font-size: 2.4rem;
    font-weight: bold;
}

.Hoby{
    max-width: 1140px;
    margin: auto;
    padding: 80px 0;
    border-color: #fff;
}

.Hoby__list{
    display: flex;
    margin: 0 0 64px;

}
.Hoby__item{

width:33.333%

}

.Hoby__eyecatch{

    margin: 0 0 24px;
}

.Hoby__heading{
    margin: 0 0 16px;
    font-weight: bold;
    text-decoration: underline;
}

.Hoby__contents{

    padding: 0  16px;
}

.TopGazou{

    max-width: 100%;
    max-height: 100%; 
    
}

.Toplist{
    display: flex;
   

}
.Topli{
    width: 33.333%;
    height: 100%;
    
/* 横並びレイアウトの記述 */

